@import url('https://fonts.googleapis.com/css?family=Poppins');

body{
    font-family: 'Poppins';
    background-color: #f8f8ff;
    width: 75%;
}

.main-container{
    /* margin-top: 30px; */
    display: flex;
    /* margin-bottom: 30px; */
    width: 100%;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.left-container{
    flex: 1.5;
    background-color: #212026;
}

.right-container{
    flex:3;
}

.sub-container{
    margin-top: 10px;
    margin-bottom: 10px;
}
